@import '../variables';

@mixin styleButton(){
  background-color: $bottomColor;
  color: $textColor;
  border: none;
  font-size: 0.8rem;
  border-radius: 1rem;
  font-family: $font;
  box-shadow: 0 0 3px $shadow;
  &:not(:disabled){
      outline: none;
    }
}

.btn-zoom{
  @include styleButton();
  padding: 0.5rem 1.5rem;
  justify-self: center;
  a:link, a:visited, a:active{
        align-self: start;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }
  }
  
  .bt-entrepreneur {
    @include styleButton()
}

.bt-login{
  @include styleButton()
}
a{
  align-self: end;
  justify-self: end;
}
.bt-seemore{
  @include styleButton();
  width: 100px;
  height: 31px;
  padding: 0;
}