@import '../variables';

@mixin styleButton(){
  background-color: $bottomColor;
  color: $textColor;
  border: none;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-family: $font;
  box-shadow: 0 0 3px $shadow;
  &:not(:disabled){
      outline: none;
    }
}

.btn-zoom{
  @include styleButton()
  }
  
  .bt-entrepreneur {
    @include styleButton()
}

.bt-login{
  @include styleButton()
}