@import '../variables';

.header-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 12.4375rem;
  border-bottom-left-radius: 3.75rem;
  background-color: $bottomColor;
  color: $textColor;
  box-shadow: 0px 4px 4px $shadow;
  z-index: 3;
  &-title{
    font-size: 24px;
    font-family: $font;
    margin-top: 2.5rem;
    margin-left: 2rem;
  }
  &-logo{
    position: absolute;
    top: 6px;
    left: 111px;
    width: 3rem;
  }
  &-welcome{
    font-family: $font;
    font-size: 21px;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  &-div{
    display: flex;
    padding-left: 2rem;
    &-textNotification{
      margin: 0 0 0 10px;
      color:$textNotification ;
    }
  }
}

.header{
    position: fixed;
    top:0;
    width: 100%;
    height: 8.225rem;
    background-color:$textColor;
    box-shadow: 0px 4px 4px $shadow;
    border-radius: 0px 0px 0px 60px;
    &-back{
      border: none;
      background-color: $textColor;
      margin-top: 1rem;
      &:not(:disabled){
        outline: none;
      }
    }
    &-logo{
      position: absolute;
      top: 3rem;
      right: 20.29rem;
    }
    &-title{
      text-align: right;
      padding-right: 40px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      color: $bottomColor;
    }
}