@import '../variables';
.search{
    width: 90%;
    height: 40px;
    background: $textColor;
    margin: 24px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    outline: none;
    border:none;
    padding:0;

    input{
        outline: none;
        border:none;
        color: #979797;
        font-family: $font;
        border-radius: 20px;
    }
    img{
        width: 17px;
        height: 17px;
        align-self: center;
        justify-self: center;
    }
}